.container{
    width: 100%;
    height: 100vh;
    background: url("./images/sofa4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 10px 0 0 0;
    position: relative;
}
.logo{
    font-size: 15px;
     color: white;
    }
h1.logo-width {
    width: 100%;
    text-align: center;
    max-width: 100%;
}
.class-items{
    display: flex;
    gap: 80px;
    justify-content:right;
    list-style-type: none;
    color: white;
    font-size: 20px;
}
.call-us{
    padding-left: 20px;
    color: white;
}
.container hr {
    width: 90%;
    margin-right: 80px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
.section-images hr{
    width: 40%;
    position: absolute;
    margin-left: 79%;
    margin-top: -75px;
    bottom: unset !important;
}
.line-verticle span{
    border-radius: 50%;
    color: #cf0d0d;
    height: 10%;
    width: 12%;
}   
 .vl{
     height: 70px;
     border-left: 2px solid #eef1ee;
     margin-left: 30px;
 } 
 .circle{
     border-radius: 100%;
     height: 9px;
     width:9px;
     display: flex;
    border: 2px solid white;
    margin-left: 25px;
} 
.circle{
    border-radius: 100%;
    height: 9px;
    width:9px;
    border: 2px solid white;
} 
.img1 img {
    width: 30px;
}
.img2{
    width: 63px;
}
.img2 p{
    margin-top: -80px;
}
.image-side-block img{
    width: 40px;
    height: 30px;
    margin-top: -50px;
}
#whitebg img{
    background: white;
    padding: 10px 40px;
    border-radius: 35px;
    left: 0;
    height: 40%;
    margin-top: 0;
}
.hero-description h1{
    font-size: 80px;
    margin-left: 5%;
    margin-top: 130px; 
    color: #fff;
}
.learnmore-btns button{  
    border-radius: 25px;;
    padding: 20px 50px;
    font-size: 16px;
    width: 200px;
    height: 10px;
    margin-left:60px;
    margin-top: -5px;
    padding-bottom: 35px;
    border-color: #fcf6f6;
    color: white;
    background: transparent;
} 
.learnmore-btn{
    margin-top: 80px;
}
 .section-image img {
   background: white;
   padding: 0px 25px;
   border-radius: 35px;
 }
 .image-block{
     background-color: #d3d3d34f;
     width: 140px;
     height: 150px;
     font-size: 19px;
     font-weight: 800;
     color: #fff;
     padding: 25px 50px;
     margin: 0;
     margin-left:50% ;
     margin-top: -5%;
     position: relative;
  }
  .image-side-block{
    background-color: #d3d3d34f;
    width: 250px;
    height: 115px;
    padding: 30px 30px;
    font-size: 19px;
    font-weight: 800;
    color: #fff;
    margin: 20px;
    margin-left:70% ;
    margin-top: -27%;
  }
  .line-verticle {
    position: absolute;
    right: -45%;
    top: 66%;
}
.call-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


  @media only screen  and (min-width:320px) and (max-width:767px){
    .container {
        height: auto !important;
    }
    .header {
        display: block;
        padding: 30px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .container hr {
    width: 80%;
  }
    .image-block{
    margin-left: auto;
    margin-right:  auto;
    margin-top: 10%;
    }
    .image-side-block{
        margin-left: auto;
        margin-top: 10%;
        width: 200px;
    }
    .hero-description h1 {
        font-size: 40px;
        padding: 30px;
        margin: 0;
    }
    .section-images hr, .line-verticle, .vl, .circle{
        display: none;
    }
    .logo {
        text-align: center;
        margin: 0 auto;
        justify-content: center;
    }
    .class-items {
        display: block;
        padding: 0;
    }
  }

  @media only screen  and (min-width:768px) and (max-width:1024px){
  .class-items {
    gap: 10px !important;
  }
  .call-us {
    padding-left: 10px !important;
}
.image-block {
    margin-left: 23%;
    margin-top: 7%;
}
.image-side-block {
    margin-left: 56%;
    margin-top: -45%;
}
.hero-description h1 {
    font-size: 65px;
  }
}